@charset "UTF-8";

/* =========================================================
  header
========================================================= */
header {
  width: 100%;
  margin: 0;
  background: #fff;
  border-bottom: 3px solid #ff2d20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  .head_bar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    align-items: center;
    .logo_area {
      float: left;
      max-width: 200px;
      width: 100%;
      padding: 0 0 0 30px;
      cursor: pointer;
    }
    .right_clmn {
      width: calc(100% - 240px);
      text-align: right;
      nav > ul > li {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        &.current a {
          background: #fdf5e6;
          opacity: 1 !important;
        }
        a {
          display: block;
          padding: 20px;
          position: relative;
          font-size: 16px;
          transition: 0.4s;
          font-weight: 500;
          color: #e1122a;
          cursor: pointer;
          &:hover {
            // color: #FF2D20;
          }
        }
        .thum {
          display: block;
          width: 50px;
          height: 50px;
          position: relative;
          overflow: hidden;
          border-radius: 100%;
          background: #f5f5f5;
          cursor: pointer;
          .thum-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
          }
        }
      }
    }
  }
} // header END

/* =========================================================
  footer
========================================================= */
footer {
  width: 100%;
  background: #fdf5e6;
  padding: 50px;
  margin: 50px auto 0;
} // footer END

/* =========================================================
  contswrap
========================================================= */
.loading {
  width: 250px;
  margin: 0 auto;
}
.contswrap {
  overflow: hidden;
  padding-top: 100px;
  main {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px 0;
    min-height: 100vh;
    opacity: 0;
    // transform: translateY(20px);
    transform: scale(1.05, 1);
    transition: 0.4s;
    filter: blur(20px);
  }
  &.active main {
    opacity: 1;
    // transform: translateY(0);
    transform: scale(1, 1);
    filter: blur(0px);
  }
  .sttl {
    background: #fdf5e6;
    text-align: left;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin-bottom: 30px;
    border-left: 20px solid #ff2d20;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .postList {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    li {
      width: calc(100% / 3 - 20px);
      margin: 0 30px 30px 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      a {
        display: block;
        background: #ff2d20;
        color: #fff;
        transition: 0.4s;
        border-radius: 5px;
        padding: 10px 10px 20px;
        overflow: hidden;
        height: 100%;
        strong {
          background: #fff;
          text-align: center;
          display: block;
          padding: 5px 0;
          color: #000;
          margin: 10px 0;
          border-radius: 5px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .thum {
          position: relative;
          overflow: hidden;
          background: #fff;
          border-radius: 5px;
          margin-bottom: 10px;
          .thum-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
          }
        }
      }
    }
  }
  .peger {
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      &.current {
        pointer-events: none;
        a {
          color: #ff2d20;
          background: #fff;
        }
      }
      a {
        display: block;
        background: #ff2d20;
        border: 2px solid #ff2d20;
        width: 40px;
        height: 40px;
        transition: 0.4s;
        padding: 3px 0 0;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .post_contents-area {
    text-align: left;
    .data {
      color: #7b7b7b;
    }

    .thumIcon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
      position: relative;
      overflow: hidden;
      border-radius: 100%;
      background: #f5f5f5;
      cursor: pointer;
      .thum-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    .cate {
      span {
        color: #ff2d20;
      }
      a {
        display: inline-block;
        transition: 0.4s;
        padding: 0 3px;
        &:hover {
          color: #ff2d20;
        }
      }
    }
    .wclmn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      text-align: left;
      margin-top: 15px;
      .sub-thum,
      .thum {
        width: 200px;
        position: relative;
        overflow: hidden;
        background: #fdf5e6;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        z-index: 0;
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
          -1px -1px 0 #fff;
        .thum-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          max-height: calc(100% - 40px);
          max-width: calc(100% - 40px);
          width: auto;
          height: auto;
        }
        span {
          z-index: 10;
          font-weight: 400;
          position: absolute;
          top: 10px;
          left: 10px;
          text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
            -1px -1px 0 #fff;
        }
      }
      .sub-conts,
      .content {
        width: calc(100% - 230px);
        img {
          width: auto;
          height: auto;
          max-width: 100%;
        }
      }
    }
    .custam-fields-area {
      margin-top: 70px;
      padding: 40px 50px;
      background: #f9f9f9;
      .ttl {
        font-size: 16px;
        font-weight: 500;
        border-left: 15px solid #ff2d20;
        border-radius: 5px;
        background: #fff;
        padding: 5px 0 5px 20px;
        text-align: left;
        margin: 5px 0 20px;
      }
    }
  }
} // contswrap END

.balloon1 {
  position: relative;
  display: block;
  padding: 7px 10px;
  max-width: calc(100% - 150px);
  color: #555;
  font-size: 16px;
  background: #e3f2fd;
  margin: 40px 0 0 auto;

  .thumIcon {
    display: block!important;
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background: #f5f5f5;
    cursor: pointer;
    .thum-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
.balloon1:before {
  content: "";
  position: absolute;
  top: 50px;
  left: -30px;
  margin-top: -15px;
  border: 10px solid transparent;
  border-right: 20px solid #e3f2fd;
}
.balloon1 p {
  font-size: 14px;
  line-height: 20px;
}
.balloon1:nth-of-type(2n + 1) {
  margin: 40px auto 0 0;
}
.balloon1:nth-of-type(2n + 1):before {
  left: inherit;
  right: -30px;
  transform: rotate(180deg);
}
.balloon1 .user {
  position: absolute;
  top: 30px;
  left: -145px;
  font-size: 20px;
  font-weight: bold;
  width: 125px;
  text-align: center;
  display: inline-block;
}
.balloon1 .user b {
  display: block;
  margin: -10px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.balloon1 .user img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.balloon1 .user span {
  display: inline-block;
  vertical-align: middle;
}
.balloon1 .user span:nth-child(1) {
  font-size: 12px;
}
.balloon1:nth-of-type(2n + 1) .user {
  left: inherit;
  right: -140px;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

// animation: fadeIn 0.4s linear forwards;
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
